<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="CommonServiceLocator" version="2.0.6" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.3.0" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit.Plus" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Google.Protobuf" version="3.21.4" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.2.16" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.16" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.7" targetFramework="net48" />
  <package id="log4net" version="2.0.15" targetFramework="net48" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.30" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="SSH.NET" version="2020.0.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Windows.Controls.DataVisualization.Toolkit" version="4.0.0.0" targetFramework="net45" />
  <package id="Xceed.Wpf.AvalonDock" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Aero" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Metro" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.AvalonDock.Themes.MetroAccent" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Office2007" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.AvalonDock.Themes.VS2010" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.Themes.Metro" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.Themes.Office2007" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid_Toolkit" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.ListBox" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.ListBox.Themes.LiveExplorer" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.ListBox.Themes.Metro" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.ListBox.Themes.Office2007" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.ListBox.Themes.WMP11" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.Themes" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.Themes.Metro" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.Themes.Office2007" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.Toolkit" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.Toolkit.Themes.Metro" version="2.8.15465.16500" targetFramework="net45" />
  <package id="Xceed.Wpf.Toolkit.Themes.Office2007" version="2.8.15465.16500" targetFramework="net45" />
</packages>